# Build results
bin/
obj/

# WWW ROOT Directory
wwwroot/

# Visual Studio cache/options directory
.vs/

# Node Modules
node_modules/

package-lock.json

# Maven build directory
target/

# Eclipse configuration files
.classpath
.settings
