<div class="row">
  <div class="col-md-11 text-center">
    <p class="lead text-primary">
      Please enter your information
    </p>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
          <div class="form-group">
              <label for="first-name">First name</label>
              <input type="text" class="form-control" id="first-name" placeholder="First name" name="firstName">
          </div>

          <div class="form-group">
              <label for="last-name">Last name</label>
              <input type="text" class="form-control" id="last-name" placeholder="Last name" name="lastName">
          </div>
        </form>
    </div>
</div>